<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="mcm-app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MCM</title>

        <link rel="stylesheet" href="/bower_components/reset-css/reset.css" />
        <link rel="stylesheet" href="/bower_components/allmighty-autocomplete/style/autocomplete.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <div ng-controller="RootController">
            <nav class="top-bar">
                <section class="menu">
                    <ul class="left">
                        <li ng-class="isActive('collection')" ng-click="makeActive('collection')">Collection</li>
                        <li ng-class="isActive('lists')" ng-click="makeActive('lists')">Lists</li>
                        <li ng-class="isActive('browse')" ng-click="makeActive('browse')">Browse</li>
                        <li ng-class="isActive('add')" ng-click="makeActive('add')">+</li>
                    </ul>
                </section>
            </nav>

            <div class="content" ng-include="view.template"></div>
        </div>

        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/allmighty-autocomplete/script/autocomplete.js"></script>
        <script src="/bower_components/lodash/dist/lodash.min.js"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>
