<div ng-controller="AddController">
    <div class="message error" ng-repeat="error in errors">{{error}}</div>
    <form class="form" ng-submit="addCard()">
        <div class="row">
            <label>Name:</label>
            <autocomplete ng-model="name" data="autocompletions"  on-type="getNameSuggestions" on-change="getAvailableExpansions" attr-placeholder="Name"/>
        </div>
        <div class="row">
            <label>Set:</label>
            <select ng-model="matchedExpansion" ng-options="exp.id as exp.name for exp in expansions"></select>
        </div>
        <div class="row">
            <input type="checkbox" ng-model="foil" id="foil" />
            <label for="foil">Foil</label>
        </div>
        <div class="row">
            <input type="checkbox" ng-model="alternateArt" id="alternateArt" />
            <label for="alternateArt">Alternate Art</label>
        </div>
        <div class="row">
            <label>Quantity:</label>
            <select ng-model="quantity" ng-options="qty as 'x'+qty for qty in quantities"></select>
        </div>
        <div class="row">
            <button type="submit">Add</button>
        </div>
    </form>
    <div class="message success" ng-repeat="card in added">
        Added {{card.name}} x{{card.quantity}}
        (foil: {{card.foil ? "yes" : "no"}}{{card.alternateArt ? ", alternate art" : ""}})
    </div>
</div>
